<div class="container-big-card">

  <img src="https://images.unsplash.com/photo-1529629468183-b9cddd7be13b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="campo de futebol">

  <div class="big-card-title">
    <h1> <a href="#">Brasil classificado!</a> </h1>
  </div>
  <div class="big-card-description">
    <p>O Brasil se classificou na Copa do Mundo de 2022 que ocorre no Catar. A classificação foi confirmada nesta segunda-feira, após vencer a seleção da Suiça por 1x0 com gol de Casimiro.</p>
  </div>

</div>