.container-small-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  width: 800px;
  background-color: #1d1d1d;
  border-radius: 4px;
  box-shadow: 0 0 3px 2px #222222;
}

.small-card-content p {
  padding-top: 15px;
  background-color: #1d1d1d;
}

.small-card-content h1 {
  background-color: #1d1d1d;
}

.container-small-card img {
  background-color: #1d1d1d;
  height: 127px;
  border-radius: 4px;
}
