.container-small-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 5px;
  width: 800px;
  border-radius: 4px;
  box-shadow: 0 0 3px 2px #222222;
  background-color: #1d1d1d;
}
.small-card-content h1 {
  font-size: 1.3rem;
  background-color: #1d1d1d;
}

.small-card-content h1 a {
  background-color: #1d1d1d;
}

.small-card-content p {
  background-color: #1d1d1d;
  padding-top: 15px;
  color: #b8b8b8;
}

.container-small-card img {
  background-color: #1d1d1d;
  height: 127px;
  border-radius: 4px;
  height: 127px;
  width: 206px;
}
