<app-menu-title></app-menu-title>

<div class="container-articles">

  <div class="articles-main">
    <app-big-card Id="1" photoCover="https://images.unsplash.com/photo-1529629468183-b9cddd7be13b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" cardTitle="Brasil Classificado!" cardDescription="O Brasil se classificou na Copa do Mundo de 2022 que ocorre no Catar. A classificação foi confirmada nesta segunda-feira, após vencer a seleção da Suiça por 1x0 com gol de Casimiro."></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card Id="2" photoCover="https://www.rbsdirect.com.br/imagesrc/35788075.jpg?w=700&rv=2-10-05&safari" cardTitle="Tunísia derrota França, mas está eliminada da Copa do Mundo" cardDescription="A França agora enfrenta o segundo colocado do Grupo C, que será concluído ainda nesta quarta-feira"></app-small-card>

    <app-small-card Id="3" photoCover="https://i.superesportes.com.br/5rvrMjh0Owb6z51miD9mlK2zb3k=/650x0/smart/imgsapp.mg.superesportes.com.br/app/noticia_126420360808/2022/11/29/3981757/ivana-knoll-modelo-croata_1_70843.jpg" cardTitle="Modelo croata chama atenção no Catar" cardDescription="Ex-miss da Croácia, Ivana Knoll tem desfilado em estádios e pontos turísticos de Doha com roupas quadriculadas nas cores da bandeira do seu país"></app-small-card>

    <app-small-card Id="4" photoCover="https://i.superesportes.com.br/KNsELBI0W8MKEokqLnIalkdWzm8=/650x0/smart/imgsapp.mg.superesportes.com.br/app/noticia_126420360808/2022/11/29/3981739/senegal-vai-as-oitavas-de-final_1_96785.jpg" cardTitle="Senegal vence Equador e avança às oitavas de final da Copa do Mundo" cardDescription="Africanos vencem por 2 a 1, garantem segunda colocação do Grupo A e eliminam equatorianos do Mundial do Catar; Holanda também avança"></app-small-card>
  </div>

</div>