.container-menu-bar {
  padding: 20px;
}

.container-menu-bar > ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  font-size: 1.4rem;
}

.container-menu-bar > ul a:hover {
  color: gold;
  border-bottom: 1px solid gold;
}
